<footer>
    <p>
        2023 &copy; <strong>@leoarayav</strong> API. All rights reserved.
    </p>
    <div class="footer">
        <a href="#" class="fa fa-github"></a>
        <a href="#" class="fa fa-phone"></a>
        <a href="#" class="fa fa-cube"></a>
    </div>
</footer>