<div class="data">
    <h2 class="data-title">
        leoarayav-API/data
    </h2>
    <div class="data-brief">
        You can find all data examples in the following buttons.
    </div>
    <div class="main-buttons">
        <a href="/api/data/user" class="button-data">User</a>
        <a href="/api/data/group" class="button-data">Group</a>
        <a href="/api/data/person" class="button-data">Person</a>
        <a href="/api/data/animal" class="button-data">Animal</a>
    </div>
</div>