<div class="main">
    <h1 class="main-title">
        {{{title}}}
    </h1>
    <p class="main-description">
        This API was created for your personal consumption.
    </p>
    <div class="main-buttons">
        <a href="/api/data" class="button-data">Data</a>
        <a href="/graphql" class="button-graphql">GraphQL</a>
    </div>
</div>